:root {
	/*--dark1: #888;
	--light2: #dddddd;*/
	--light1: #F5F7F9; /*WHITE SMOKE*/
	--light2: #C6CDDC; /*COLUMIA BLUE*/
	--dark1: #333D48; /*CHARCOAL*/
	--color1: #FFD434; /*SUNGLOW*/
	--color2: #A3D033; /*YELLOW-GREEN*/
}

* {
  box-sizing: border-box; /* inclue padding et border */
}

/* css  pour header et footer et organisation générale */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.inner-body {
  min-height: 80%;
  padding: 0;
}
.inner-body.centered {
	/* centré horizontalement */
	display: flex;
	justify-content: center;
}
header, footer {
	height: 10%;
	border: 1px solid black;
}
header nav {
	height: 100%;
}
header nav, footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	/*margin: 10px 0;*/
	background-color: var(--light2);
}
.logo-container {
	height: 80%;
}
.logos { 
	height: 100%;
	margin: 0px 10px;
}
#menu, #endmenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
	list-style-type: none;	
}
#menu li {
	height: 50%;
	position: relative;
	/*border-left: 1px solid #bbb;*/
}
#menu li a, #endmenu li a {
	display: flex;
	align-items: center;
	height: 100%;
	color: black;
	text-align: center;
	text-decoration: none;
	background-color: var(--light2);
}
#menu li a.menu-link {
	padding: 0px 16px;
}
#endmenu li a {
	padding: 0px 50px;
}
.dropdown-content {
	display: none;
	height: 100%;
	position: absolute;
	right: 0;
	min-width: 110px;
	z-index: 1;
}
#logout-btn {
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: 1em;
	min-width: 110px;
	padding: 0px 16px;
	text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#menu li a:hover, #menu li a:hover #logout-btn {
  background-color: var(--dark1);
  color: var(--light1);
  cursor: pointer;
}


/* css pour la pagination*/
.pagination {
	margin: 10px;
}
.pagination a {
	color: black;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	transition: background-color .3s;
}
.pagination a.active {
	background-color: var(--light2);;
}
.pagination a:hover {
	background-color: var(--color2);
}

/* css pour les boutons */
input.submit, button.submit, input.select, button.select {
	background-color: var(--light1);
	color: var(--dark1);
	border: 1px solid black;
	border-radius: 6px;
	padding: 5px 10px;
}
input.submit, button.submit {
	font-weight: bold;
}
input.reset, button.reset {
	background-color: var(--dark1);
	color: var(--light1);
	border: 1px solid black;
	border-radius: 6px;
	padding: 5px 10px;
}
input.submit:hover, button.submit:hover, input.reset:hover, button.reset:hover, input.select:hover, button.select:hover {
	background-color: var(--light2);
}
.form-confirmation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


/* css pour la page 1 étude et 1 étude + restriction */
.study-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.study-page .row-div {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.study-page #study-section { 
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.study-page #study-section aside {
	width: 40%;
	height: 100%;
	overflow: auto;  /* auto pour scroller si besoin */
	background-color: var(--light1);
	padding: 15px;
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
} 
.study-page #study-section article {
	width: 60%; 
	height: inherit;
}
#pdfetude { 
	width:100%; 
	height: 100%;
}
#study-page #study-section { width: 100%; }
#study-and-restriction-page #study-section  { width: 60%; }
#study-and-restriction-page #restriction-view { width: 40%; }
#study-and-restriction-page #restriction-view { 
	background-color: var(--color1);
	border-left: 1px solid black;
	padding: 15px;
	overflow: auto;
}
#study-and-restriction-page #restriction-view-title-section {
	text-align: center;
}
#restriction-view-title-section h1 { font-size: 1.5em; }
#restriction-view-title-section h2 { font-size: 1.2em; }
/* css pour l'affichage d'une restriction */ 
#restriction-page {
	flex-direction: column;
	align-items: stretch;
}
#restriction-view textarea[readonly] {
	border: none;
	background-color: #E0E0E0;
	padding: 3px 5px;
}
#restriction-view .reset {
	height: 27px;
	padding: 5px 10px;
	margin-top: 30px;
}
#restriction-page section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* css en fonction du statut de restriction */
#restriction-view-title-section h2 span { padding: 2px 10px; border-radius: 6px; }
#restriction-view-title-section h2 span.refused { border: 2px solid red; }
#restriction-view-title-section h2 span.accepted { border: 2px solid green; }
#restriction-view-title-section h2 span.not_treated { border: 2px solid blue; }
#study-management-page #studies-section span { font-weight: bold; }
#study-management-page #studies-section span.refused { color: red; }
#study-management-page #studies-section span.accepted { color: green; }
#study-management-page #studies-section span.not_treated { color: blue; }
/* css pour l'affichage des info de aside */
.study-page #study-section aside h1 { font-size: 1.25em; }
.study-page #study-section aside h2 { font-size: 1em; text-decoration: underline;}
.study-page #study-section aside a { word-wrap: break-word; }
.study-page #study-section aside span { margin: 0 0 5px 15px; }
.study-page #study-section aside ul { margin: 0 0 5px 15px; list-style-type: none; padding-left: 15px;}


/* css pour la page de contact */
#contact-page {
	flex-direction: column;
	text-align: center;
}


/* css pour la page about */
#about-page {
	/*align-items: center;*/
	/*text-align: center;*/
	padding: 30px;
}


/* css pour la page Home */
#home-page {
	display: flex;
	flex-direction: column;
}
.sorting-and-research-section {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	background-color: var(--color2);
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
}
.filter-and-study-section {
	display: flex;
	flex-direction: row;
	min-height: 70vh;
	border: 1px solid black;
	border-bottom: none;
}
.sorting-and-research-section * {
	margin: 0 10px 0 10px;
}
.sorting-and-research-section .sorting {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sorting-and-research-section .sorting .sorting-criteria-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.filter-section {
	width: 25%;
	background-color: var(--color1);
	overflow: hidden; /* ? */
}
/* Accordion styles */
.filter-category {
	width: 100%;
	overflow: hidden;
}
.filter-category-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
}
.filter-category-label:hover {
	background-color: var(--light1);
}
/* Icon */
.filter-category-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	/*transition: all .35s;*/
}
.filter-category-content {
	max-height: 0;
	padding: 0 1em;
	background: var(--light1);
	/*transition: all .35s;*/
}
.filter-category-checkbox {
	visibility: hidden;
	position: absolute;
	height: 0;
}
.filter-category-checkbox:checked + .filter-category-label {
	background: darken(black, 10%);
}
.filter-category-checkbox:checked + .filter-category-label::after {
	transform: rotate(90deg);
}
.filter-category-checkbox:checked ~ .filter-category-content {
	max-height: 100vh;
	padding: 1em;
}
h1.filter-title {
	font-size: 1.2em;
	text-align: center
}
.sorting-and-research-section h1.filter-title {
	display: inline;
}
h2.filter-title {
	margin: 0;
	padding: 10px 0 5px 0;
	font-size: 1em;
}
.filter-section #Apply-or-Reset { /* voir la partie bouton .form-confirmation*/
	padding: 1em;
}
/* css pour les infos à choisir (filtre et search) */
#searchbar input {
	min-width: 300px;
}
.filter-category input[type=number] {
	max-width: 100px;
}
/* css pour le tableau des études (suite: .studies-table) */
.studies-section {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-left: 1px solid black;
}
/* css pour les checkbox des bookmarks */
.studies-table td .bookmark-checkbox {
	margin: 0;
	padding: 0;
}
.bookmark-label{
	color:black;
	font-size: 2em;
	text-align: center;
	margin: 0 33%;  /* trick pour centrer horizontalement l'étoile dans la case */
}
.bookmark-checkbox:not(:disabled)+.bookmark-label:hover{
	transform: scale(5) rotate(0);
	text-shadow:0px 0px 5px goldenrod;
}
.bookmark-label:before {
	content:'☆';
 }
 .bookmark-checkbox:checked + .bookmark-label:before {
	color:goldenrod;
	content:'★';
 }
 .bookmark-checkbox:disabled + .bookmark-label:before {
	color: goldenrod;
	content:'★';
	opacity: 0.5;
 }
 /* hide checkbox */
 .bookmark-checkbox {
	visibility: hidden;
	display:inline-block;
 }

/* css pour bookmark management */
.inner-body#bookmark-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#bookmark-page h1 {
	text-align: center;
}
#bookmark-page h1 > span {
	color: gold;
}
#bookmark-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}
#bookmark-page .studies-table {
	/*border: 1px solid black;*/
	background-color: var(--light1);
}
#bookmark-page .studies-table td {
	padding: 15px 50px;
}


/* css pour la page de log */
.inner-body#log-page {
	height: 80%;
	display: flex;
	flex-direction: column;
}
.inner-body#log-page div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}
#login-section fieldset, #signin-section fieldset {
	border: 1px solid black;
	border-radius: 6px;
	background-color: var(--color1);
	padding: 20px;
}
#log-page .form-confirmation {
	padding: 0.5em;
}
#login-section #cookie {
	margin: 5px 0 0 0;
}
#login-section label > span {
	width: 100px;
}
#signin-section label > span {
	width: 180px;
}
#log-page fieldset legend {
	display: block;
	width: inherit;
	margin: auto;
	background-color: var(--color1);
	border-radius: 6px;
	padding: 5px 10px 5px 10px;
	border: inherit;
	font-weight: bold;
}


/* css pour la page de profile */
.inner-body#profile-page {
	display: flex;
	flex-direction: column;
}
#profile-section {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	min-width: 250px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	background-color: var(--color1);
}
#profile-page #profile-section div {
	display: flex;
	flex-direction: row;
	border: none;
	width: 100%;
	/*outline: 0;*/
	margin-top: 10px;
}
#profile-page #edit-btn-form {
	width: 80%;
}
#profile-page #delete-btn-form {
	width: 20%;
}
#profile-section form > input[type=submit] {
	width: 100%;
	padding: 8px;
	cursor: pointer;
	border: none;
}
#profile-section #edit-btn-form > input[type=submit] {
	border-radius: 0 0 0 6px;
}
#profile-section #delete-btn-form > input[type=submit] {
	border-radius: 0 0 6px 0;
}
#profile-section .profile-item {
	display: block;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-size: 1.2em;
}
#profile-section .profile-item ~ span {
	padding: 0 30px;
	font-size: 1.2em;
}
#profile-section .user-image {
	margin: 10px 0 0 0;
}


/* css pour l'edition de profile */
.inner-body.edit-and-create-account-page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.edit-and-create-account-page fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color1);
	border: 1px solid black;
	padding: 10px;
}
.edit-and-create-account-page fieldset legend {
	display: block;
	width: inherit;
	margin: auto;
	padding: 5px 10px;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
	border: inherit;
}
.edit-and-create-account-page fieldset form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.edit-and-create-account-page fieldset form div.form-confirmation{
	width: 300px;
}
.edit-and-create-account-page fieldset input[type=text],[type=email],[type=password] {
	width: 200px;
}
.edit-and-create-account-page fieldset select.admin-cat-choice {
	width: 165px;
}
.edit-and-create-account-page fieldset .select.admin-cat-choice {
	padding: 1.7px 5px;
}
.edit-and-create-account-page #edit-profile-section label > span { width: 130px; }
.edit-and-create-account-page #edit-password-section label > span { width: 210px; }
.edit-and-create-account-page #edit-profile-admin-section label > span { width: 180px; }
.edit-and-create-account-page #create-account-section label > span { width: 180px; }


/* css pour le formulaire de soumission d'une étude */
.study-form-page .study-form-title-section { /**/
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}
.study-form-page fieldset {
	background-color: var(--light1);
}
.study-form-page fieldset legend {
	display: block;
	margin-top: 20px;
	padding: 5px 10px;
	font-size: 1.5em;
	font-weight: bold;
}
#study-form-page fieldset legend {
	width: inherit;
	margin: auto;
}
#study-form-page #study-form-section #study-fieldset label > span { width: 140px; }
#study-form-page #study-form-section #study-fieldset > label.location > span { width: 200px; }
#study-form-page #study-form-section #study-fieldset li label.location > span { width: 100px; }
#study-form-page #study-form-section #disease-fieldset label > span { width: 130px; }
#study-form-page #study-form-section #demographic-fieldset label > span { width: 200px; }
#study-form-page #study-form-section #treatment-fieldset label > span:not(.check-label) { width: 210px; }
#study-form-page #study-form-section #treatment-fieldset div#administration-table-div { display: table; }
#study-form-page #study-form-section #treatment-fieldset div#administration-table-div > label {
	display: table-row;
}
#study-form-page #study-form-section #restriction-fieldset label > span { width: 170px; }

#study-form-page #study-form-section #treatment-fieldset div#administration-table-div > label > * {
	display: table-cell;
	height: 40px;
	padding: 0 20px;
	vertical-align: middle;
}
#study-form-page #study-form-section #treatment-fieldset div#administration-table-div > label > span {
	padding: 0;
}
#study-form-page #study-form-section #treatment-fieldset div#administration-table-div > label .check-label {
	padding-right: 0;
	font-weight: normal;
}
#study-form-page #study-form-section #general-fieldset label > span { width: 250px; }
.study-form-page .form-confirmation {
	width: 200px;
	margin: 25px auto;
}
.study-form-page .form-confirmation .submit {
	width: 100%;
	font-size: 1.1em;
	color: black;
	font-family: inherit;
}
#study-json-form-page #json-pdf-form div { margin: 5px 0 15px 0; }
#study-json-form-page #json-pdf-form ul { list-style-type: none; }
#study-json-form-page #json-pdf-form ul label { margin-right: 15px; }



/* css pour le management des comptes et des études */
#account-management-page, #study-management-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#account-management-page #account-section , #study-management-page #studies-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#account-buttons-section, #studies-buttons-section {
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid black;
	background-color: var(--color1);
}
/* css pour le management des comptes */
#account-buttons-section {
	flex-direction: row-reverse;
	justify-content: space-between;
}
.account-table {
	background-color: var(--light1);
	border-bottom: 1px solid black;
}
/* css pour le management des études */
#studies-buttons-section {
	flex-direction: row;
	justify-content: space-around;
}
#studies-buttons-section div a {
	text-decoration: none;
}
#study-management-page .studies-table td button { 
	margin: 5px 0;
}
#study-management-page th, #study-management-page td {
	border: 1px solid black;
}
#study-management-page th {
	border-top: none;
}



/* css pour l'affichage des tableaux */
.studies-table, .account-table {
	border-collapse: collapse;
	overflow: hidden;
	width:100%;
}
.studies-table th, .studies-table td, .account-table th, .account-table td {
	vertical-align: middle;
	padding: 15px;
	/*border: 1px solid black;*/
}
.studies-table th, .account-table th {
	padding: 5px;
}
td:not(.study-cell) { /* .account-table */
	text-align: center;
}

/* css pour les rapports */
#reports-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#reports-page #report-create-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-bottom: 1px solid black;
	background-color: var(--color1);
}
#reports-page .form-confirmation .submit{
	width: 200px;
	margin: 0 auto;
}
#reports-page #reports-section {
	display: flex;
	flex-direction: column;
	margin: 15px;
}
#reports-page #reports-section a {
	margin: 15px 0;
}
#report-page article {
	width: 21cm;
	height: 30cm;
}
#report-page #pdfReport {
	width: 100%;
	height: 100%;
}


/* css pour les messages d'info */
.pop-section {
	width: 100%;
	display: flex;
	justify-content: center;
}
.pop-section > div {
	margin: 15px 30px;
	padding: 15px;
	background-color: var(--light1);
	border-radius: 2px;
}
.pop-section div.success{
	border: 2px solid var(--color2);
}
.pop-section div.failure{
	border: 2px solid red;
}
.pop-section div.dialog{
	border: 2px solid var(--color1);
}
/* css pour les texte informatifs */
p.text-error {
	color: red;
	font-style: italic;
}
ul.text-error {
	font-style: italic;
	padding: 0;
}
ul.text-error li {
	margin-top: 5px;
}
span.required{
	color:red;
}
span.additional-info {
	color:black;
	font-size: 0.7em;
	font-weight: normal;
}




/* css pour les formulaires */
.form-stlye-1 label:not(.check-label) { /* #log-page #edit-profile-page */
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-stlye-1 label > span:not(.additional-info) { /* #log-page #edit-profile-page */
	font-weight: bold;
	float: left;
	padding-right: 5px;
}
.form-style-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-style-2 *:not(span) {
	margin: 15px;
}
.form-style-2 label {
	margin-bottom: 0;
}
.form-style-2 label > span:not(.additional-info) {
	font-weight: bold;
}
